### NATURAL JOIN

Pissa, the ever-expanding pizza delivery enterprise, has a new challenge for you. They're interested in discovering which type of pizza generates the most revenue.

Identify the top-selling pizza category using your knowledge on NATURAL JOIN.

Here is the pizza schema for your reference:

Schema Diagram [skipped]

### Instructions
    - Calculate total_revenue based on SUM of price * quantity; taking price from p (pizzas) and quantity from od (order_details) table.
    - NATURAL JOIN the pizzas and pizza_type tables.
    - GROUP the records by category from pt (pizza_type) table.
    - ORDER the details by total_revenue in descending order and LIMIT to 1 to fetch only the top revenue pizza.

In [ ]:
SELECT 
    pt.category,
	-- Calculate total_revenue 
    sum(p.price*od.quantity) as total_revenue
FROM order_details AS od
-- NATURAL JOIN all tables
NATURAL JOIN pizzas AS p 
NATURAL JOIN pizza_type AS pt
-- GROUP the records by category from pizza_type table
GROUP BY pt.category
-- ORDER by total_revenue and limit the records
ORDER BY total_revenue desc
LIMIT 1

### The world of JOINS

As a consulting data engineer, Pissa now wants your advanced Snowflake SQL skills to get some insights in their sales and revenue.

Apply your knowledge on Joins to get the desired result.

### Instructions 1/3
    - Ensure that all orders from the orders table are included in the result, regardless of whether they have corresponding entries in the order_details table.

In [ ]:
SELECT COUNT(o.order_id) AS total_orders
FROM orders AS o
-- Use appropriate JOIN
LEFT JOIN order_details AS od
ON o.order_id = od.order_id

### Instructions 2/3
    - Calculate the total revenue using price column from pizzas table and quantity column of order_details table respectively.
    - Use appropriate JOIN to include all records from the pizzas table.

In [ ]:
SELECT COUNT(o.order_id) AS total_orders,
        AVG(p.price) AS average_price,
        -- Calculate total revenue
        SUM(p.price * od.quantity) AS total_revenue	
FROM orders AS o
-- Use appropriate JOIN
LEFT JOIN order_details AS od
ON o.order_id = od.order_id
-- Use appropriate JOIN with pizzas table
RIGHT JOIN pizzas AS p
ON od.pizza_id = p.pizza_id

### Instructions 3/3
    - Select pizza name from pizza_type by performing a NATURAL JOIN with the pizza_type table.

In [ ]:
SELECT COUNT(o.order_id) AS total_orders,
        AVG(p.price) AS average_price,
        -- Calculate total revenue
        SUM(p.price * od.quantity) AS total_revenue,
        -- Get the name from pizza_type table
		pt.name AS pizza_name
FROM orders AS o
-- Use appropriate JOIN
LEFT JOIN order_details AS od
ON o.order_id = od.order_id
-- Use appropriate JOIN with pizzas table
RIGHT JOIN pizzas p
ON od.pizza_id = p.pizza_id
-- NATURAL JOIN pizza_type table
NATURAL JOIN pizza_type pt
GROUP BY pt.name, pt.category
ORDER BY total_revenue desc, total_orders desc

### LATERAL JOIN

Pissa, the expanding pizza delivery enterprise, is now taking your expertise on identifying some trends.

They want to find out which dates feature maximum sales for each type of pizza. This information will enable them to pinpoint trends and optimize future promotions.

### Instructions
    - Complete the query to find the max_quantity from the LATERAL query.
    - Join the appropriate tables.
    - Use LATERAL join to calculate max_quantity and complete the subquery to find max of quantity.
    - Filter the subquery on pizza_type_id referencing outer pizza_type table.

In [ ]:
SELECT pt.name, 
	   pt.category, 
       o.order_date,
       -- Get max quantity from lateral query
       x.max_quantity
FROM pizzas AS pz
JOIN pizza_type AS pt ON pz.pizza_type_id = pt.pizza_type_id
JOIN order_details AS od ON pz.pizza_id = od.pizza_id
-- Join with orders table
JOIN orders AS o ON od.order_id = o.order_id,    
LATERAL (
    -- Select max of order_details quantity
    SELECT MAX(od2.quantity) AS max_quantity
    FROM order_details AS od2
    -- Join with pizzas table
    JOIN pizzas AS pz2 
        ON od2.pizza_id = pz2.pizza_id
    -- Filtering condition for the subquery
    WHERE pz2.pizza_type_id = pz.pizza_type_id
) AS x
WHERE od.quantity = x.max_quantity
GROUP BY pt.name, pt.category, o.order_date, x.max_quantity
ORDER BY pt.name;