In [2]:
import pandas as pd
import numpy as np

so_survey_csv = 'https://assets.datacamp.com/production/repositories/3752/datasets/19699a2441073ad6459bf5e3e17690e2cae86cf1/Combined_DS_v10.csv'
so_survey_df = pd.read_csv(so_survey_csv)

## How sparse is my data?
### Most datasets contain missing values, often represented as NaN (Not a Number). If you are working with Pandas you can easily check how many missing values exist in each column.
### Let's find out how many of the developers taking the survey chose to enter their age (found in the Age column of so_survey_df) and their gender (Gender column of so_survey_df).
### Instructions 1/2
-    Subset the DataFrame to only include the 'Age' and 'Gender' columns.
-    Print the number of non-missing values in both columns.

In [3]:
# Subset the DataFrame
sub_df = so_survey_df[["Age", "Gender"]]

# Print the number of non-missing values
print(sub_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     999 non-null    int64
 1   Gender  693 non-null    object
dtypes: int64(1), object(1)
memory usage: 15.7+ KB
None

## Finding the missing values
### While having a summary of how much of your data is missing can be useful, often you will need to find the exact locations of these missing values. Using the same subset of the StackOverflow data from the last exercise (sub_df), you will show how a value can be flagged as missing.
### Instructions 1/3
-    Print the first 10 entries of the DataFrame.

In [4]:
# Print the top 10 entries of the DataFrame
print(sub_df.head(10))

   Age  Gender
0   21    Male
1   38    Male
2   45     NaN
3   46    Male
4   39    Male
5   39    Male
6   34    Male
7   24  Female
8   23    Male
9   36     NaN

### Instructions 2/3
-    Print the locations of the missing values in the first 10 rows.

In [5]:
# Print the locations of the missing values
print(sub_df.head(10).isnull())

     Age  Gender
0  False   False
1  False   False
2  False    True
3  False   False
4  False   False
5  False   False
6  False   False
7  False   False
8  False   False
9  False    True

### Instructions 2/3
-    Print the locations of the non-missing values in the first 10 rows.

In [6]:
# Print the locations of the non-missing values
print(sub_df.head(10).notnull())

    Age  Gender
0  True    True
1  True    True
2  True   False
3  True    True
4  True    True
5  True    True
6  True    True
7  True    True
8  True    True
9  True   False

## Listwise deletion
### The simplest way to deal with missing values in your dataset when they are occurring entirely at random is to remove those rows, also called 'listwise deletion'.
### Depending on the use case, you will sometimes want to remove all missing values in your data while other times you may want to only remove a particular column if too many values are missing in that column.
### Instructions 1/4
-    Print the number of rows and columns in so_survey_df.

In [9]:
# Print the number of rows and columns
print(so_survey_df.shape)

(999, 11)

### Instructions 2/4
-    Drop all rows with missing values in so_survey_df.

In [10]:
# Create a new DataFrame dropping all incomplete rows
no_missing_values_rows = so_survey_df.dropna()

# Print the shape of the new DataFrame
print(no_missing_values_rows.shape)

(264, 11)

### Instructions 3/4
-    Drop all columns with missing values in so_survey_df.

In [11]:
# Create a new DataFrame dropping all columns with incomplete rows
no_missing_values_cols = so_survey_df.dropna(how='any', axis=1)

# Print the shape of the new DataFrame
print(no_missing_values_cols.shape)

(999, 7)

### Instructions 4/4
-    Drop all rows in so_survey_df where 'Gender' is missing.

In [12]:
# Drop all rows where Gender is missing
no_gender = so_survey_df.dropna(subset=['Gender'])

# Print the shape of the new DataFrame
print(no_gender.shape)

(693, 11)

## Replacing missing values with constants
### While removing missing data entirely maybe a correct approach in many situations, this may result in a lot of information being omitted from your models.
### You may find categorical columns where the missing value is a valid piece of information in itself, such as someone refusing to answer a question in a survey. In these cases, you can fill all missing values with a new category entirely, for example 'No response given'.
### Instructions 1/2
-    Print the count of occurrences of each category in so_survey_df's Gender column.

In [17]:
so_survey_df = pd.read_csv(so_survey_csv)

In [18]:
# Print the count of occurrences
print(so_survey_df['Gender'].value_counts())

Gender
Male                                                                         632
Female                                                                        53
Female;Male                                                                    2
Transgender                                                                    2
Female;Male;Transgender;Non-binary. genderqueer. or gender non-conforming      1
Male;Non-binary. genderqueer. or gender non-conforming                         1
Non-binary. genderqueer. or gender non-conforming                              1
Female;Transgender                                                             1
Name: count, dtype: int64

### Instructions 2/2
-    Replace all missing values in the Gender column with the string 'Not Given'. Make changes to the original DataFrame.

In [19]:
# Replace missing values
so_survey_df['Gender'].fillna(value='Not Given', inplace=True)

# Print the count of each value
print(so_survey_df['Gender'].value_counts())

Gender
Male                                                                         632
Not Given                                                                    306
Female                                                                        53
Female;Male                                                                    2
Transgender                                                                    2
Female;Male;Transgender;Non-binary. genderqueer. or gender non-conforming      1
Male;Non-binary. genderqueer. or gender non-conforming                         1
Non-binary. genderqueer. or gender non-conforming                              1
Female;Transgender                                                             1
Name: count, dtype: int64

## Filling continuous missing values
### In the last lesson, you dealt with different methods of removing data missing values and filling in missing values with a fixed string. These approaches are valid in many cases, particularly when dealing with categorical columns but have limited use when working with continuous values. In these cases, it may be most valid to fill the missing values in the column with a value calculated from the entries present in the column.
### Instructions 1/3
-    Print the first five rows of the StackOverflowJobsRecommend column of so_survey_df.

In [20]:
# Print the first five rows of StackOverflowJobsRecommend column
print(so_survey_df["StackOverflowJobsRecommend"].head())

0    NaN
1    7.0
2    8.0
3    NaN
4    8.0
Name: StackOverflowJobsRecommend, dtype: float64

### Instructions 2/3
-    Replace the missing values in the StackOverflowJobsRecommend column with its mean. Make changes directly to the original DataFrame.

In [21]:
# Fill missing values with the mean
so_survey_df['StackOverflowJobsRecommend'].fillna(so_survey_df['StackOverflowJobsRecommend'].mean(), inplace=True)

# Print the first five rows of StackOverflowJobsRecommend column
print(so_survey_df['StackOverflowJobsRecommend'].head())

0    7.061602
1    7.000000
2    8.000000
3    7.061602
4    8.000000
Name: StackOverflowJobsRecommend, dtype: float64

### Instructions 3/3
-    Round the decimal values that you introduced in the StackOverflowJobsRecommend column.

In [22]:
# Fill missing values with the mean
so_survey_df['StackOverflowJobsRecommend'].fillna(so_survey_df['StackOverflowJobsRecommend'].mean(), inplace=True)

# Round the StackOverflowJobsRecommend values
so_survey_df['StackOverflowJobsRecommend'] = np.round(so_survey_df['StackOverflowJobsRecommend'])

# Print the top 5 rows
print(so_survey_df['StackOverflowJobsRecommend'].head())

0    7.0
1    7.0
2    8.0
3    7.0
4    8.0
Name: StackOverflowJobsRecommend, dtype: float64

## Dealing with stray characters (I)
### In this exercise, you will work with the RawSalary column of so_survey_df which contains the wages of the respondents along with the currency symbols and commas, such as $42,000. When importing data from Microsoft Excel, more often that not you will come across data in this form.

### Instructions 1/2
-    Remove the commas (,) from the RawSalary column.

In [23]:
# Remove the commas in the column
so_survey_df['RawSalary'] = so_survey_df['RawSalary'].str.replace(',', '')

### Instructions 2/2
-    Remove the dollar ($) signs from the RawSalary column.

In [24]:
# Remove the dollar signs in the column
so_survey_df['RawSalary'] = so_survey_df['RawSalary'].str.replace("$", "")

## Dealing with stray characters (II)
### In the last exercise, you could tell quickly based off of the df.head() call which characters were causing an issue. In many cases this will not be so apparent. There will often be values deep within a column that are preventing you from casting a column as a numeric type so that it can be used in a model or further feature engineering.

### One approach to finding these values is to force the column to the data type desired using pd.to_numeric(), coercing any values causing issues to NaN, Then filtering the DataFrame by just the rows containing the NaN values.

### Try to cast the RawSalary column as a float and it will fail as an additional character can now be found in it. Find the character and remove it so the column can be cast as a float.

### Instructions 1/2
-    Attempt to convert the RawSalary column of so_survey_df to numeric values coercing all failures into null values.
-    Find the indexes of the rows containing NaNs.
-    Print the rows in RawSalary based on these indexes.

In [25]:
# Attempt to convert the column to numeric values
numeric_vals = pd.to_numeric(so_survey_df['RawSalary'], errors='coerce')

# Find the indexes of missing values
idx = numeric_vals.isna()

# Print the relevant rows
print(so_survey_df['RawSalary'][idx])

0            NaN
2            NaN
4      £41671.00
6            NaN
8            NaN
         ...
989          NaN
990          NaN
992          NaN
994          NaN
997          NaN
Name: RawSalary, Length: 401, dtype: object

### Instructions 2/2
-    Did you notice the pound (£) signs in the RawSalary column? Remove these signs like you did in the previous exercise.
-    Convert the RawSalary column to float.

In [27]:
# Replace the offending characters
so_survey_df['RawSalary'] = so_survey_df['RawSalary'].str.replace("£", "")

# Convert the column to float
so_survey_df['RawSalary'] = so_survey_df['RawSalary'].astype('float')

# Print the column
print(so_survey_df['RawSalary'])

0            NaN
1        70841.0
2            NaN
3        21426.0
4        41671.0
         ...
994          NaN
995      58746.0
996      55000.0
997          NaN
998    1000000.0
Name: RawSalary, Length: 999, dtype: float64

## Method chaining
### When applying multiple operations on the same column (like in the previous exercises), you made the changes in several steps, assigning the results back in each step. However, when applying multiple successive operations on the same column, you can "chain" these operations together for clarity and ease of management. This can be achieved by calling multiple methods sequentially:

### Method chaining
<code>
df['column'] = df['column'].method1().method2().method3()
</code>

### Same as 
<code>
df['column'] = df['column'].method1()
df['column'] = df['column'].method2()
df['column'] = df['column'].method3()
</code>

### In this exercise you will repeat the steps you performed in the last two exercises, but do so using method chaining.

### Instructions
-    Remove the commas (,) from the RawSalary column of so_survey_df.
-    Remove the dollar ($) signs from the RawSalary column.
-    Remove the pound (£) signs from the RawSalary column.
-    Convert the RawSalary column to float.

In [29]:
so_survey_df = pd.read_csv(so_survey_csv)

In [30]:
# Use method chaining
so_survey_df['RawSalary'] = so_survey_df['RawSalary']\
                              .str.replace(",", "")\
                              .str.replace("$", "")\
                              .str.replace("£", "")\
                              .astype("float")
 
# Print the RawSalary column
print(so_survey_df['RawSalary'])

0            NaN
1        70841.0
2            NaN
3        21426.0
4        41671.0
         ...
994          NaN
995      58746.0
996      55000.0
997          NaN
998    1000000.0
Name: RawSalary, Length: 999, dtype: float64