## Get some assistance

Not only does Python offer a range of built-in functions, but this even includes a way to find out more about data types, structures, and other functions.

Time to try it out!

### Instructions 1/3
    - Call the help() function on len.

In [1]:
# Find out more about len()
print(help(len))

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

None

### Instructions 2/3
    - Use help() on the int data type.

In [ ]:
# Find out more about int
print(help(int))

### Instructions 3/3
    - Find out more about the list data structure, printing the results.

In [ ]:
# Find out more about lists
print(help(list))

## Counting the elements

In the video, you saw some of Python's most helpful built-in functions.

One of them can be used to count the number of elements in a variable. You'll see three variables in the following steps, one dictionary course_ratings, one list course_completions, and one string most_popular_course. You'll practice applying this function to the three variables!

### Instructions 1/3
    - Use a function to count the number of key-value pairs in course_ratings, storing as a variable called num_courses, then print the variable.

In [3]:
course_ratings = {"LLM Concepts": 4.7, 
                  "Introduction to Data Pipelines": 4.75, 
                  "AI Ethics": 4.62, 
                  "Introduction to dbt": 4.81}

# Print the number of key-value pairs
num_courses = len(course_ratings)
print(num_courses)

4

### Instructions 2/3
    - Use a function to count the number of courses in course_completions, storing as num_courses, and print this variable.

In [4]:
course_completions = [97, 83, 121, 205, 56, 174, 92, 117, 164]

# Find the number of courses
num_courses = len(course_completions)
print(num_courses)

9

### Instructions 3/3
    - Use a function to count the number of characters in most_popular_course, storing as title_length, and print the variable.

In [5]:
most_popular_course = "Introduction to dbt"

# How many characters are in most_popular_course?
title_length = len(most_popular_course)
print(title_length)

19

## Performing calculations

Python's built-in functions make it easy to perform calculations on multiple values without having to write several lines of code.

Working with a list called course_completions containing integer values representing the number of completions for a range of different courses, you'll analyze this data to draw insights!

### Instructions 1/4
    - Add up and print the total number of course_completions.

In [6]:
course_completions = [97, 83, 121, 205, 56, 174, 92, 117, 164]

In [7]:
# Print the total number of course completions
print(sum(course_completions))

1109

### Instructions 2/4
    - Print the largest value in course_completions.

In [8]:
# Print the largest number of completions
print(max(course_completions))

205

### Instructions 3/4
    - Add up the values in course_completions and then divide this by the number of elements to get the average.

In [9]:
# Print the average number of completions
print(sum(course_completions) / len(course_completions))

123.22222222222223

### Instructions 4/4
    - Round the average number of course completions to one decimal place.

In [10]:
# Print the average number of completions, rounded to one decimal places
print(round(sum(course_completions) / len(course_completions), 1))

123.2

## Working with the string module

In the video, you saw several popular modules including string, which is used to gather specific values such as all uppercase characters, or format some text.

This can be helpful if you need to check whether text contains specific characters or modify text such as converting to lowercase.

In this exercise, you'll import the module and access its ascii_lowercase and punctuation attributes.

### Instructions
    - Import the string module.
    - Access the module's .ascii_lowercase attribute.
    - Access the module's .punctuation attribute.

In [11]:
# Import the string module
import string

#Â Print all ASCII lowercase characters
print(string.ascii_lowercase)

# Print all punctuation
print(string.punctuation)

abcdefghijklmnopqrstuvwxyz
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

## Importing from a module

Another useful module is datetime, which allows you to create and work with dates and times, as well as time zones and time periods!

The datetime module has a function called date.

In this exercise, you'll practice importing and using the date method from the datetime module and use it to create a variable.

### Instructions
    - Import the date function from the datetime module.
    - Create a variable called deadline, assigning a call of date(), passing in the numbers 2024, 1, and 19, in that order, separated by commas.
    - Check the data type of deadline.
    - Print the deadline variable.

In [12]:
# Import date from the datetime module
from datetime import date

#Â Create a variable called deadline
deadline = date(2024, 1, 19)

# Check the data type
print(type(deadline))

# Print the deadline
print(deadline)

<class 'datetime.date'>
2024-01-19

## Working with pandas

pandas is an example of a popular Python package.

In this exercise, the sales dictionary has been created and made available to you, and your task is to convert it into a pandas DataFrame and preview the first five rows.

### Instructions
    - Import the pandas module using an alias of pd.
    - Create sales_df by using a pandas function to convert sales into a DataFrame.
    - Preview the first five rows of sales_df.

In [14]:
sales = {'user_id': ['KM37', 'PR19', 'YU88', 'JB18', 'LP65', 'HJ11', 'PR19', 'IJ54'],
 'date': ['01/05/2024',  '01/05/2024',  '01/06/2024',  '01/06/2024',  '01/06/2024',
  '01/06/2024',  '01/07/2024',  '01/07/2024'],
 'order_value': [197.75, 208.21, 134.99, 317.81, 201.3, 157.87, 99.99, 124.5]}

In [15]:
# Import pandas as pd
import pandas as pd

# Convert sales to a pandas DataFrame
sales_df = pd.DataFrame(sales)

#Â Preview the first five rows
print(sales_df.head())

  user_id        date  order_value
0    KM37  01/05/2024       197.75
1    PR19  01/05/2024       208.21
2    YU88  01/06/2024       134.99
3    JB18  01/06/2024       317.81
4    LP65  01/06/2024       201.30

## Performing calculations with pandas

Now, you've been provided with a CSV file called sales.csv containing sales data with three columns: "user_id", "date", and "order_value".

Using pandas, you'll read in the file and calculate statistics about sales values.

Just like how you can subset a dictionary by its key, e.g., dictionary["key_name"], you can use the same syntax in pandas to subset a column! Not only this, the package also provides useful methods to perform calculations on DataFrames or subsets of DataFrames (such as columns)!

Examples of this syntax include df["column_name"].mean() and df["column_name"].sum() to calculate the average and total for a given column, respectively.

### Instructions
    - Read in "sales.csv", saving as a pandas DataFrame called sales_df.
    - Subset sales_df on the "order_value" column, then call the .mean() method to find the average order value.
    - Subset sales_df on the "order_value" column, then call the .sum() method to find the total value of all orders.

In [ ]:
#Â Read in sales.csv
sales_df = pd.read_csv("sales.csv")

# Print the mean order_value
print(sales_df["order_value"].mean())

#Â Print the total value of sales
print(sales_df["order_value"].sum())