### Loading data

You learned about how Snowflake loads data from a file in a staging area into a table. You are now working to load a file from your local staging area to a table.

Can you recall which of the following command will load data from your staging area my_local_stage to table pizza_type.

In [ ]:
COPY INTO pizza_type FROM @my_local_stage

### Datatype conversion

When working with databases, there are times when we need to change the data type of a column to better suit our operations or analyses.

As a consulting data engineer for CityRide, you have been given access to a dataset from their partner, Uber.

The datasets captures ride details and include fields such as driver_id, pickup_point, status, and request_timestamp.

These fields might not be in the desired data types, and it's your task to rectify this and apply necessary data type conversions to ensure data consistency and facilitate smoother analysis.

### Instructions 1/3
    - Select and convert the request_id column from uber_request_data table to VARCHAR using the CAST method aliasing it to request_id_string.

In [ ]:
-- Convert request_id to VARCHAR aliasing to request_id_string

SELECT cast(request_id AS VARCHAR) AS request_id_string
FROM uber_request_data

### Instructions 2/3
    - Convert request_timestamp to DATE using the TO_DATE function aliasing it as request_date.

In [ ]:
-- Convert request_id to VARCHAR using CAST method and alias to request_id_string

SELECT CAST(request_id AS VARCHAR) AS request_id_string, 
-- Convert request_timestamp to DATE using TO_DATE and alias as request_date
	   TO_DATE(request_timestamp) as request_date
FROM uber_request_data

### Instructions 3/3
    - Convert the drop_timestamp column to TIME using the :: operator, and alias it to drop_time.
    - Filter the records where request_date is greater than '2016-06-01' and drop_time is less than '6 AM'.

In [ ]:
-- Convert request_id to VARCHAR using CAST method and alias to request_id_string
SELECT CAST(request_id AS VARCHAR) AS request_id_string, 
-- Convert request_timestamp to DATE using TO_DATE and alias as request_date
	   TO_DATE(request_timestamp) AS request_date,
-- Convert drop_timestamp column to TIME using :: operator and alias to drop_time
       drop_timestamp::TIME as drop_time
FROM uber_request_data
-- Filter the records where request_date is greater than '2016-06-01' and drop_time is less than 6 AM.
WHERE request_date::date > '2016-06-01' and drop_time::time < '06:00'

### String functions

Having recently mastered string functions such as UPPER, LOWER, and CONCAT, you're ready to put them into practice.

As a freelance data engineer, CityRide, a leading urban mobility platform, has approached you with their raw Uber ride data. Your task is to make this data consistent using the string functions you've learned.

### Instructions 1/3
        - Standardize the status entries in the uber_request_data table. Convert all entries in the status column to lowercase.

In [ ]:
-- Convert status to lowercase

SELECT lower(status) FROM uber_request_data

### Instructions 2/3
        - Convert all entries in the pickup_point column to uppercase.

In [ ]:
-- Convert pickup_point to uppercase

SELECT upper(pickup_point) FROM uber_request_data

### Instructions 3/3
        - Complete the CONCAT function to combine the pickup_point and status with the given comments.

In [ ]:
-- Complete the CONCAT function for columns pickup_point and status

SELECT CONCAT('Trip from ', pickup_point, ' was completed with status: ', status) AS trip_comment
FROM uber_request_data

### Functions & Grouping

As a freelancer at Pissa, you're examining pizza order details. As the team dives deeper into the sales data, there's a need to focus on orders with larger quantities to ensure efficient service and delivery.

Using your knowledge of aggregate functions, sorting, and grouping, complete the query to analyze and prioritize these bulk orders.

### Instructions
    - Retrieve the order_id and pizza_id for orders where the total quantity of pizzas exceeds 3 using HAVING clause.
    - Group the orders using GROUP BY ALL
    - Arrange your results by order_id and then by total_quantity in a descending sequence.

In [ ]:
-- Retrieve order_id, pizza_id and sum of quantity
SELECT order_id, pizza_id, sum(quantity) AS total_quantity
FROM order_details
-- GROUP the orders using group by all having total_quantity greater than 3
group by order_id, pizza_id
having sum(quantity) > 3
-- ORDER BY order id and total quantity in descending order
order by order_id, sum(quantity) desc

### DATE & TIME

As a freelance data engineer assisting CityRide, you are now focusing on timestamp-related columns in their raw Uber ride data.

Use your knowledge of date and time functions to accomplish the tasks.

### Instructions 1/3
    - Select the current date and current time using a valid date and time functions.

In [ ]:
-- Select the current date, current time
select current_date(), current_time()

### Instructions 2/3
    - Complete the concatenation for the CURRENT_DATE and CURRENT_TIME, converting the result to TIMESTAMP.

In [ ]:
-- Select the current date, current time
-- Concatenate and convert it to TIMESTAMP
SELECT CONCAT(CURRENT_DATE, ' ', CURRENT_TIME)::TIMESTAMP

### Instructions 3/3
    - Extract month from the concatenated timestamp and alias as concat_month
    - Filter records from uber_request_data where request_timestamp's month is greater or equal than concat_month.

In [ ]:
-- Select the current date, current time
-- Concatenate and convert it to TIMESTAMP
SELECT *,
-- Extract month and alias to concat_month
	EXTRACT(MONTH FROM CONCAT(CURRENT_DATE, ' ', CURRENT_TIME)::TIMESTAMP) AS concat_month
-- Use table uber_request_data where request_timestamp's month is greater than concat_month
FROM uber_request_data
WHERE EXTRACT(month FROM request_timestamp) >= EXTRACT(MONTH FROM CONCAT(CURRENT_DATE, ' ', CURRENT_TIME)::TIMESTAMP)