In [78]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

volunteer = pd.read_csv("./data/volunteer_opportunities.csv")

In [62]:
volunteer[volunteer['locality'].isna() == True]["locality"].info()

<class 'pandas.core.series.Series'>
Int64Index: 70 entries, 0 to 81
Series name: locality
Non-Null Count  Dtype
--------------  -----
0 non-null      object
dtypes: object(1)
memory usage: 1.1+ KB

In [63]:
# Drop the Latitude and Longitude columns from volunteer
volunteer_cols = volunteer.drop(['Latitude', 'Longitude'], axis=1)

# Drop rows with missing category_desc values from volunteer_cols
volunteer_subset = volunteer_cols.dropna(subset=["category_desc"])

# Print out the shape of the subset
print(volunteer_subset.shape)

(617, 33)

In [64]:
# Print the head of the hits column
print(volunteer["hits"].head())

# Convert the hits column to type int
volunteer["hits"] = volunteer["hits"].astype("int")

# Look at the dtypes of the dataset
print(volunteer.dtypes)

0    737
1     22
2     62
3     14
4     31
Name: hits, dtype: int64
opportunity_id          int64
content_id              int64
vol_requests            int64
event_time              int64
title                  object
hits                    int64
summary                object
is_priority            object
category_id           float64
category_desc          object
amsl                  float64
amsl_unit             float64
org_title              object
org_content_id          int64
addresses_count         int64
locality               object
region                 object
postalcode            float64
primary_loc           float64
display_url            object
recurrence_type        object
hours                   int64
created_date           object
last_modified_date     object
start_date_date        object
end_date_date          object
status                 object
Latitude              float64
Longitude             float64
Community Board       float64
Community Council     float64
Census Tract          float64
BIN                   float64
BBL                   float64
NTA                   float64
dtype: object

In [65]:
#volunteer = volunteer.dropna()
#volunteer.columns

volunteer = volunteer[['opportunity_id', 'content_id', 'vol_requests', 'event_time', 'title', 'hits', 'summary', 'category_id', 'category_desc', 'org_title', 'org_content_id',
       'addresses_count', 'locality', 'region', 'postalcode', 'display_url', 'recurrence_type', 'hours', 'created_date', 'last_modified_date', 'start_date_date', 'end_date_date',
       'status']]

volunteer = volunteer.dropna()
volunteer.head()

,opportunity_id,content_id,vol_requests,event_time,title,hits,summary,category_id,category_desc,org_title,...,region,postalcode,display_url,recurrence_type,hours,created_date,last_modified_date,start_date_date,end_date_date,status
1,5008,37036,2,0,Web designer,22,Build a website for an Afghan business,1.0,Strengthening Communities,Bpeace,...,NY,10010.0,/opportunities/5008,onetime,0,January 14 2011,January 25 2011,February 01 2011,February 01 2011,approved
6,5053,37406,2,0,Staff Development Trainer,156,The Jewish Museum seeks a volunteer staff deve...,1.0,Strengthening Communities,The Jewish Museum,...,NY,10128.0,/opportunities/5053,ongoing,0,January 27 2011,January 28 2011,January 27 2011,January 27 2012,approved
19,5175,38414,4,0,Shop Volunteer,653,Retail sales support for the Shop@RMA.,1.0,Strengthening Communities,Rubin Museum Of Art,...,NY,10011.0,/opportunities/5175,ongoing,0,March 09 2011,March 09 2011,March 09 2011,March 08 2012,approved
22,5177,38440,2,0,Movie screener for Seniors,583,A volunteer who can screen movies about nutrit...,5.0,Health,Metropolitan Council on Jewish Poverty,...,NY,10038.0,/opportunities/5177,ongoing,0,March 10 2011,March 11 2011,March 10 2011,December 31 2011,approved
23,5198,38561,20,0,Volunteer at Queens Farm,1103,"Assist farmers with weeding, mulching, plantin...",5.0,Health,Queens County Farm Museum,...,NY,11004.0,/opportunities/5198,ongoing,0,March 15 2011,March 15 2011,April 17 2011,October 30 2011,approved

In [66]:
# Create a DataFrame with all columns except category_desc
X = volunteer.drop("category_desc", axis=1)

# Create a category_desc labels dataset
y = volunteer[["category_desc"]]

# Use stratified sampling to split up the dataset according to the y dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=42)

# Print the category_desc counts from y_train
print(y_train["category_desc"].value_counts())

Strengthening Communities    212
Helping Neighbors in Need     81
Education                     59
Health                        32
Environment                   17
Emergency Preparedness        10
Name: category_desc, dtype: int64