## Querying NoSQL databases

In this exercise, you'll practice querying from column-oriented, document, and key-value databases. All three are popular NoSQL databases, that we'll use throughout the course!

### Instructions 1/3
        - Update the query below to return the team, year, event, and medal columns from the olympic_medals Snowflake table.

In [ ]:
# Update the query to pull the team, year, event, and medal
# fields from the olympic_medals table
query = """
SELECT
	team,
    year,
    event,
    medal
FROM olympic_medals;
"""

results = conn.cursor().execute(query).fetch_pandas_all()
print(results)

### Instructions 2/3
        - Select the review column from the nested_reviews table, which contains document data; observe the data that's returned.

In [ ]:
# Select the review column from the nested_reviews table
query = """
SELECT 
	review
FROM nested_reviews;
"""

data = pd.read_sql(query, db_engine)
print(data)

### Instructions 3/3
        - Use the set() method to store the value Sarah using the name key.
        - Retrieve and print value stored at the name key.

In [ ]:
# Set the name key-value pair
redis_conn.set("name", "Sarah")

# Retrieve and print the value stored in the "name" key
name = redis_conn.get("name")
print(name)

## Querying a column-oriented database

In this example, you'll use Snowflake to query data from the olympic_medals table. This table contains information about Olympic medal winners going back to 1896. To work with this data stored in Snowflake, you'll be using the snowflake.connector package. A connection object has been created, which is stored in the variable conn. Best of luck!

### Instructions
    - Update the string stored to the query variable to return all columns of the olympic_medals table, limiting to the first ten rows.
    - Execute the query stored in the query variable, using the conn.cursor().execute() function.
    - Print the results of the query, which are stored in the results variable.

In [ ]:
# Write a query to return all columns, limiting to 10 rows
query = "SELECT * FROM olympic_medals LIMIT 10;"

# Execute the query
results = conn.cursor().execute(query).fetch_pandas_all()

# Print the results of the query
print(results)

## Filtering a column-oriented database

Similar to before, you'll query data from the olympic_medals table using Snowflake, this time, filtering the table to only show a subset of rows. A connection object has been created, which is stored in the variable conn. Good luck!

### Instructions
    - SELECT the team, name, and year columns (in that order) from the olympic_medals table.
    - Filter the dataset to only return rows after the year 2000.
    - Execute the query stored in the query variable, and print the results.

In [ ]:
# Return team, name, and year for all years greater than 2000
query = """
SELECT
	team,
    name,
    year
FROM olympic_medals 
WHERE year > 2000
;
"""

# Execute the query, print the results
results = conn.cursor().execute(query).fetch_pandas_all()
print(results)

## Querying document databases

Using Postgres JSON to query document data is similar to querying relational data with Postgres. In this exercise, you'll practice building a query to retrieve document data from the nested_reviews table, with Postgres JSON. Happy querying!

### Instructions
    - Update the query to return the review column from the nested_reviews table.
    - Use the appropriate pandas function to create a DataFrame using the logic stored in the query variable.
    - Output the first record in the DataFrame returned after executing the query.

In [ ]:
# Update the query to select the review field
query = """
	SELECT 
    	review
    FROM nested_reviews;
"""

# Execute the query
data = pd.read_sql(query, db_engine)

# Print the first element of the DataFrame
print(data.iloc[0, 0])

## Querying nested documents with Postgres JSON

With Postgres JSON, querying semi-structured data is a breeze! Postgres provides built-in operators, such as ->. In this example, you'll practice using this operator to query reviews data from a column of type JSON. This table takes the form below: <br/>
![](../../imgs/Chapter_3-3_Exercises.png)
<br/>nested_reviews table, showing sample data.

pandas has been imported as pd, and a sqlalchemy connection object has been configured, and made available for you via the db_engine variable. Best of luck!

### Instructions 1/2
    - Use the -> operator to query the statement field from the nested_reviews table.

In [ ]:
# Build the query to select the statement field
query = """
	SELECT 
    	review -> 'statement' AS statement
    FROM nested_reviews;
"""

# Execute the query, render results
data = pd.read_sql(query, db_engine)
print(data)

### Instructions 2/2
    - Similar to before, use the -> operator to query the location field from the nested_reviews table.

In [ ]:
# Build the query to select the statement and location fields
query = """
	SELECT 
    	review -> 'statement' AS statement, 
        review -> 'location' AS location 
    FROM nested_reviews;
"""

# Execute the query, render results
data = pd.read_sql(query, db_engine)
print(data)